<header>
  <nav class="nav-main">
    <ul class="nav-left">
      <li><a href="#">Placeholder</a></li>
    </ul>

    <ul class="nav-right">
      <li><a href="/">Home</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/new">New Message</a></li>
      <li><a href="https://github.com/mikeyCos/mini-message-board" target="_blank">
        <img src="./github-mark/github-mark.svg" onload="SVGInject(this)" />
      </a></li>
    </ul>
  </nav>
</header>