<li class="message">
  <div class="content">
    <h3 class="message-title">
      <%= message.title %>
    </h3>

      <p class="message-body">
        <%= message.body %>
      </p>
  </div>

  <div class="message-info">
    <p class="message-user">
      By: <span><%= message.user %></span>
    </p>
    
    <p class="message-date">
      <%= message.timestamp %>
    </p>
  </div>
</li>