<li class="message">
  <div class="content">
    <h3 class="message-title">
      <%= title %>
    </h3>

      <p class="message-body">
        <%= body %>
      </p>
  </div>

  <div class="message-info">
    <p class="message-user">
      By: <span class="user"><%= username %></span>
    </p>
    
    <p class="message-date">
      <%= timestamp %>
    </p>
  </div>
</li>