<form method="POST" action="/new">
  <ul>
    <li class="form-item">
      <label for="user">Username:</label>
      <input name="user" id="user" type="text" value="Anonymous" placeholder="Anonymous">
    </li>

    <li class="form-item">
      <label for="message">Message:</label>
      <textarea name="message" id="message" placeholder="Enter message here..."></textarea>
    </li>
  </ul>

  <div class="btn-container">
    <button type="submit">Add message</button>
    <button type="button">Reset</button>
  </div>
</form>