<% if (locals.errors) { %>
  <p>Test again</p>
<% } %>
<form  method="POST" action="/new" class="new-message-form">
  <ul>
    <li class="form-item">
      <label for="username">Username:</label>
      <input name="username" id="username" type="text" value="Anonymous" placeholder="Anonymous" pattern="^[a-zA-z]{2,20}$" required>
    </li>

    <li class="form-item">
      <label for="title">Title</label>
      <input name="title" id="title" type="text" placeholder="Enter a title... (Do not exceed 180 characters)" pattern="^.{2,180}$" required>
    </li>

    <li class="form-item">
      <label for="body">Message:</label>
      <textarea name="body" id="body" placeholder="Enter message here... (Do not exceed 300 characters)" minlength="2" maxlength="300" required></textarea>
    </li>
  </ul>

  <div class="btn-container">
    <button type="submit">Add message</button>
    <button type="button" onclick="<%= clickHandler %>">Reset</button>
  </div>
</form>