<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="./styles/home.css">
  <%- include('../partials/head') %>
  
  <body>
    <%- include('../partials/header'); %>
    <main>
      <section id="home">
        <h1>Index</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vero pariatur itaque sit delectus iusto id unde consectetur odit reprehenderit hic, fugit dicta inventore molestiae obcaecati nihil eos praesentium voluptatem.</p>
      <p>Odio autem voluptas cumque, asperiores libero veniam officia, hic temporibus laboriosam architecto in tempora vel eius, assumenda ut. Nemo aliquid quod modi!</p>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>