<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./messages.css">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header'); %>
  <main>
    <h1>Messages</h1>
    
    <% if (messages.length > 0 ) { %>
      <ul>
        <% messages.forEach((message) => { %>
          <%- include('../partials/message', { ...message }) %>
        <% }); %>
      </ul>
    <% } else { %>
      <p>There are no messages.</p>
    <% } %>
    
    
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>