<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header'); %>
  <main>
    <h1>Messages</h1>
    
    <% if (messages.length > 0 ) { %>
      <ul>
        <% messages.forEach((message) => { %>
          <%- include('../partials/message', { ...message }) %>
        <% }); %>
      </ul>
    <% } else { %>
      <p>There are no messages.</p>
    <% } %>
    
    
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>