<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="./new.css">
  <script type="text/javascript" src="/resetForm.js"></script>
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header'); %>
    <main>
      <h1>New</h1>
      <%- include('../partials/newMessageForm'); %>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>